---
import Base from "../layouts/base.astro";
import PageHero from "../components/pagehero.astro";
import { SiteMetadata } from "../config";

const frontmatter = {
  title: "価格",
  description: "Price",
  coverSVG: "../images/svg/undraw/undraw_contact_us.svg",
  socialImage: "../images/undraw/undraw_contact_us.png",
  publishDate: SiteMetadata.buildTime,
};
---

<Base frontmatter={frontmatter}>
  <!-- <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={frontmatter.coverSVG}
      socialImage={frontmatter.socialImage}
    />
  </header> -->
  <!-- コンポーネントのマークアップ -->
  <main>
    <div 
    x-data="{ on: false }" 
    class="mx-32 bg-white py-24 sm:py-32"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="lg:text-center">
          <h2
            class="text-base text-purple-800 dark:text-purple-300 font-semibold tracking-wide uppercase"
          >
            Price
          </h2>
          <p
            class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
          >
            ご利用料金
          </p>
          <div
            class="mt-4 max-w-2xl text-xl text-gray-600 dark:text-gray-300 lg:mx-auto"
          >
            <p>契約は１年間有効です。</p>
            <p>一括払いか月々払いか、お好きな方をお選びください。</p>
          </div>
        </div>
      </div>
      <div class="mt-16 lg:text-center">
        <div
          class="p-1 border-2 border-gray-400 inline-block rounded-full"
        >
          <div
            @click="on = !on"
            :class="{'bg-green-400': on, 'bg-gray-300': !on}"
            class="relative inline-block w-10 h-6 align-middle select-none transition duration-200 ease-in cursor-pointer rounded-full"
          >
            <div
              :class="{'right-0 border-green-400': on, 'right-auto border-gray-400': !on}"
              class="toggle-checkbox absolute top-0 right-auto bottom-0 w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer transition duration-200 ease-in"
            >
            </div>
          </div>
          <span x-text="on ? '一括払い' : '月々払い'" class="ml-2 text-lg"></span>
        </div>
      </div>
      <div
        class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none"
      >
        <div class="p-8 sm:p-10 lg:flex-auto">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900">
            <span x-text="on ? '年額利用料' : '月額利用料'"></span>
          </h3>
          <p class="mt-6 text-base leading-7 text-gray-600">
            酒税を管理するために必要な機能が全て含まれています。２人目以降のライセンスは、追加ライセンス料金が発生します。
          </p>
          <div class="mt-10 flex items-center gap-x-4">
            <h4
              class="flex-none text-sm font-semibold leading-6 text-indigo-600"
            >
              含まれるもの
            </h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
          <ul
            role="list"
            class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              １ライセンス
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              酒税・在庫管理
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              e-taxソフト連携
            </li>
          </ul>
        </div>
        <div 
        class="mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
          <div

          class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16"
          >
            <div 
               class="mx-auto max-w-xs">
               <span class="text-base font-semibold text-gray-600">基本料金</span>
              <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <div x-data="{ tank: 15000, nebiki: 9600 }">
                <span 
                  x-text="on? '年額' : '月額'"
                  class="text-sm font-semibold tracking-tight text-gray-600"
                  ></span
                >
                  <span 
                  x-text="on? ((tank*12)-nebiki).toLocaleString() : (tank).toLocaleString()"
                  class="text-5xl font-bold tracking-tight text-gray-900"
                  ></span
                >
                <span
                  class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                  >円（税抜）</span
                >
                <br>
                <span 
                  x-text="on? (nebiki*-1).toLocaleString() + '円' : null"
                  class="text-base font-bold tracking-tight text-rose-500"
                  ></span
                >
              </div>
              </p>
              <p class="mt-3 flex items-baseline justify-center gap-x-2">
                <span
                  class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                  >＋</span
                >
              </p>
              <p class="text-base font-semibold text-gray-600">
                追加ライセンス(1人毎)
              </p>
              <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <div x-data="{ tank: 5000, nebiki: 0 }">
                <span 
                  x-text="on? '年額' : '月額'"
                  class="text-sm font-bold tracking-tight text-gray-600"
                  ></span
                >
                <span 
                  x-text="on? ((tank*12)-nebiki).toLocaleString() : (tank).toLocaleString()"
                  class="text-4xl font-bold tracking-tight text-gray-900"
                  ></span>
                <span
                  class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                  >円（税抜）</span
                >
                </div>
              </p>
              <p class="mt-6 text-xs leading-5 text-gray-600">
                ご質問・ご相談は、弊社窓口にお問い合わせください。
                <a
                  href="mailto:sales@heart.co.jp?subject=問い合わせ[五合クラウド]&body=株式会社ハートコンピューター営業部 宛"
                  ><u>sales@heart.co.jp</u></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 mb-12 text-xs leading-5 text-gray-600">
        <p>*ライセンスの考え方：ライセンスは、同時に利用する人数分のライセンスをご契約いただきます。例えば、３ライセンスの場合は、３人が同時に利用できます。</p>
          <p>*契約期間は1年となります。</p>
          <p>*無料期間を除く契約期間中の解約はできません。</p>
          <p>*契約終了日の30日前までに通知がない場合、契約が自動更新されます（12ヵ月）</p>     
      </div>
      <div>
        <div class="px-4 sm:px-0">
          <h3 class="text-2xl font-semibold leading-7 text-gray-900">
            オプション
          </h3>
          <p
            class="mt-4 max-w-2xl text-sm text-gray-600 dark:text-gray-300 text-left"
          >
          オプションをご契約の場合は、基本料金にオプション利用料が加算されます。
          </p>
        </div>
        <div class="mt-6 border-t border-gray-100">
          <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                <div class="font-medium leading-6">酒税 安心サポート</div>
                <div class="text-xs leading-1">
                  （電話・Webフォーム）
                </div>
              </dt>
              <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0 text-center">
                <div x-data="{ tank: 3000, nebiki: 0 }">
                <span 
                  x-text="on? '年額' : '月額'"
                  ></span
                >
                <span 
                  x-text="on? ((tank*12)-nebiki).toLocaleString() : (tank).toLocaleString()"
                  ></span>
                円（税抜）
                </div>
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                <div class="font-medium leading-6">酒税 安心サポートアルファ</div>
                <div class="text-xs leading-1">
                  （電話・Webフォーム・リモート接続）
                </div>
              </dt>
              <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0 text-center">
                <div x-data="{ tank: 6000, nebiki: 0 }">
                <span 
                  x-text="on? '年額' : '月額'"
                  ></span
                >
                <span 
                  x-text="on? ((tank*12)-nebiki).toLocaleString() : (tank).toLocaleString()"
                  ></span>
                円（税抜）
                </div>
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                <div class="font-medium leading-6">導入支援サービス</div>
                <div class="text-xs leading-1">
                  （専任スタッフによる現地訪問・電話・メールサポート）
                </div>
              </dt>
              <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0 text-center">
                <div x-data="{ tank: 45000, nebiki: 0 }">
                <span 
                  x-text="on? '1日当たり' : '1日当たり'"
                  ></span
                >
                <span 
                  x-text="on? ((tank)-nebiki).toLocaleString() : (tank).toLocaleString()"
                  ></span>
                円（税抜）〜
                <div class="text-xs leading-1">
                  ※別途お見積もり
                </div>
              </div>
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm text-gray-900">
                <div class="font-medium leading-6">輸出帳票</div>
                <div class="text-xs leading-1">
                  （コマーシャルインボイス,パッキングリスト,シッピングマーク）
                </div>
              </dt>
              <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0 text-center">
                <div x-data="{ tank: 3000, nebiki: 0 }">
                <span 
                  x-text="on? '年額' : '月額'"
                  ></span
                >
                <span 
                  x-text="on? ((tank*12)-nebiki).toLocaleString() : (tank).toLocaleString()"
                  ></span>
                円（税抜）
                </div>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </main>
</Base>
