---
import Base from "../layouts/base.astro";
import PageHero from "../components/pagehero.astro";
import { SiteMetadata } from "../config";

const frontmatter = {
  title: "無料トライアル申込",
  description: "Trial",
  coverSVG: "../images/svg/undraw/undraw_contact_us.svg",
  socialImage: "../images/undraw/undraw_contact_us.png",
  publishDate: SiteMetadata.buildTime,
};
---

<Base frontmatter={frontmatter}>
  <!-- <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={frontmatter.coverSVG}
      socialImage={frontmatter.socialImage}
    />
  </header> -->
  <main>
    <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="lg:text-center">
          <h2
            class="text-base text-purple-800 dark:text-purple-300 font-semibold tracking-wide uppercase"
          >
            Trial
          </h2>
          <p
            class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
          >
            無料トライアル申込
          </p>
          <p
            class="mt-4 max-w-2xl text-xl text-gray-600 dark:text-gray-300 lg:mx-auto"
          >
            ２ヶ月間の無料トライアル利用が可能です。
          </p>
        </div>
        <div
          class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none"
        >
          <div class="p-8 sm:p-10 lg:flex-auto">
            <div class="bg-white py-24 sm:py-8">
              <div class="mx-auto max-w-8xl px-6 lg:px-20">
                <h3 class="text-2xl font-bold tracking-tight text-gray-900">申込情報</h3>
                <p class="mt-6 text-base leading-7 text-gray-600">
                  お試しでご利用をご希望の方は、下記のフォームからお申し込みください。
                </p>
                <div class="lg:text-left">
                  <form>
                    <div class="space-y-12">
                      <div class="border-b border-gray-900/10 pb-12">
                        <div
                          class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
                        >
                          <div class="sm:col-span-4">
                            <label
                              for="organization"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >貴社名
                            <div class="mt-2">
                              <input
                                type="text"
                                name="organization"
                                id="organization"
                                autocomplete="organization"
                                placeholder="例）株式会社ハート酒造"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                              />
                            </div>
                            </label
                            >
                          </div>

                          <div class="sm:col-span-3">
                            <label
                              for="name"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >担当者名</label
                            >
                            <div class="mt-2">
                              <input
                                type="text"
                                name="name"
                                id="name"
                                autocomplete="name"
                                placeholder="例）ハート太郎"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                              />
                            </div>
                          </div>
                          <div class="sm:col-span-2">
                            <label
                              for="phone"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >電話番号</label
                            >
                            <div class="mt-2">
                              <input
                                type="tel"
                                name="phone"
                                id="phone"
                                autocomplete="tel"
                                placeholder="例）0749825650"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                              />
                            </div>
                          </div>
                          <div class="sm:col-span-4">
                            <label
                              for="email"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >メールアドレス</label
                            >
                            <div class="mt-2">
                              <input
                                id="email"
                                name="email"
                                type="email"
                                autocomplete="email"
                                placeholder="例）subaru-trial@heart.co.jp"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="border-b border-gray-900/10 pb-12">
                        <h2
                          class="text-base font-semibold leading-7 text-gray-900"
                        >
                          同意事項
                        </h2>
                        <p class="mt-1 text-sm leading-6 text-gray-600">
                          以下の事項に同意していただく必要があります。
                        </p>

                        <div class="mt-2 space-y-10">
                          <fieldset>
                            <div class="mt-6 space-y-6">
                              <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                  <input
                                    id="comments"
                                    name="comments"
                                    type="checkbox"
                                    required
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                  />
                                </div>
                                <div class="text-sm leading-6">
                                  <label
                                    for="comments"
                                    class="font-medium text-gray-900"
                                    >利用規約に同意しました。</label
                                  >
                                  <p class="text-gray-500 underline">
                                    <a href="#" target="_blank">利用規約（工事中）</a>
                                  </p>
                                </div>
                              </div>
                              <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                  <input
                                    id="candidates"
                                    name="candidates"
                                    type="checkbox"
                                    required
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                  />
                                </div>
                                <div class="text-sm leading-6">
                                  <label
                                    for="candidates"
                                    class="font-medium text-gray-900"
                                    >プライバシーポリシーに同意しました。</label
                                  >
                                  <p class="text-gray-500 underline">
                                    <a href="https://www.heart.co.jp/privacy-policy/" target="_blank" >プライバシーポリシー</a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                      <button
                        type="reset"
                        class="text-sm font-semibold leading-6 text-gray-900"
                        >キャンセル</button
                      >
                      <button
                        type="submit"
                        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >申し込む（工事中）</button
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Base>
